Repository paion-data/nexusgraph, pull requests merged in 2023-09, with the labels that each got.

#190 Login refactoring
  package.json
  packages/nexusgraph-app/package.json
  packages/nexusgraph-app/src/App.tsx
  packages/nexusgraph-app/src/AppInit.test.tsx
  packages/nexusgraph-app/src/AppInit.tsx
  packages/nexusgraph-app/src/DevApp.tsx
  packages/nexusgraph-app/src/ProdApp.tsx
  packages/nexusgraph-app/src/index.tsx
  packages/nexusgraph-oauth2/index.ts
  packages/nexusgraph-oauth2/package.json
  packages/nexusgraph-oauth2/src/OAuth2Provider.tsx
  packages/nexusgraph-oauth2/src/useOAuth2.ts
  yarn.lock
Labels: DOCUMENTATION, MERGEABLE, OAUTH2

#191 Implementation create new note
  packages/nexusgraph-app/src/editor-button-group/EditorButtonGroup.tsx
  packages/nexusgraph-redux/src/note/noteDuck.ts
  packages/nexusgraph-redux/src/note/noteTypes.ts
Labels: MERGEABLE, GRAPH, EDITOR

#194 Add eslint header for copyright
  .eslintrc.json
  cypress.config.ts
  cypress/e2e/graph-export-button.spec.cy.ts
  cypress/e2e/i18n.spec.cy.ts
  cypress/e2e/nexusgraph.spec.cy.ts
  package.json
  packages/nexusgraph-app/inversify.config.ts
  packages/nexusgraph-app/src/DevApp.tsx
  packages/nexusgraph-app/src/editor-button-group/EditorButtonGroup.tsx
  packages/nexusgraph-app/src/editor-button-group/EditorMenuDrawer.tsx
  packages/nexusgraph-app/src/editor-button-group/styled.ts
  packages/nexusgraph-app/src/index.tsx
  packages/nexusgraph-astraios/index.ts
  packages/nexusgraph-editor/index.ts
  packages/nexusgraph-editor/src/Editor.tsx
  packages/nexusgraph-editor/src/Lexical/index.ts
  packages/nexusgraph-editor/src/Lexical/plugins/NexusgraphOnChangePlugin.tsx
  packages/nexusgraph-editor/src/Lexical/plugins/svgTool.ts
  packages/nexusgraph-graph/src/models/Graph.ts
  packages/nexusgraph-graph/src/models/Node.ts
  packages/nexusgraph-graph/src/models/Relationship.test.ts
  packages/nexusgraph-graph/src/models/Relationship.ts
  packages/nexusgraph-graph/src/models/VizItemProperty.ts
  packages/nexusgraph-nlp/index.ts
  packages/nexusgraph-nlp/src/parser/index.ts
  packages/nexusgraph-nlp/src/processor/RemoteNaturalLanguageProcessor.test.ts
  packages/nexusgraph-oauth2/index.ts
  packages/nexusgraph-redux/src/StoreProvider.tsx
  packages/nexusgraph-redux/src/nlp/nlpTypes.ts
  packages/nexusgraph-redux/src/rootReducer.ts
  yarn.lock
Labels: NEED 1 REVIEW

#199 Import manifest.json file in index.html
  .env.test
  .github/workflows/ci-cd.yml
  packages/nexusgraph-app/public/index.html
Labels: CI/CD, MERGEABLE

#201 Implement note list duck
  packages/nexusgraph-redux/src/globalState.ts
  packages/nexusgraph-redux/src/note-list/noteListDuck.ts
  packages/nexusgraph-redux/src/note-list/noteListTypes.ts
  packages/nexusgraph-redux/src/rootReducer.ts
Labels: MERGEABLE, REDUX

#203 Remove redux toolkit dependency
  package.json
  packages/nexusgraph-redux/src/StoreProvider.tsx
  yarn.lock
Labels: MERGEABLE

#204 Change for editor content type
  packages/nexusgraph-app/src/ReduxHook.tsx
  packages/nexusgraph-astraios/src/JsonApiAstraiosClient.ts
  packages/nexusgraph-editor/src/Lexical/plugins/NexusgraphOnChangePlugin.tsx
  packages/nexusgraph-nlp/src/processor/RemoteNaturalLanguageProcessor.ts
  packages/nexusgraph-redux/src/note/noteDuck.ts
  packages/nexusgraph-redux/src/note/noteTypes.ts
Labels: MERGEABLE, REFACTORING, REDUX

#205 Change for graph state type in noteDuck
  packages/nexusgraph-astraios/src/JsonApiAstraiosClient.ts
  packages/nexusgraph-graph/src/VisualizationView.tsx
  packages/nexusgraph-nlp/src/processor/NaturalLanguageProcessor.ts
  packages/nexusgraph-nlp/src/processor/RemoteNaturalLanguageProcessor.ts
  packages/nexusgraph-redux/index.ts
  packages/nexusgraph-redux/src/nlp/nlpTypes.ts
  packages/nexusgraph-redux/src/note/noteDuck.ts
  packages/nexusgraph-redux/src/note/noteTypes.ts
Labels: NEED 1 REVIEW

#206 Change for initial id state in noteDuck
  packages/nexusgraph-app/src/ReduxHook.tsx
  packages/nexusgraph-astraios/src/JsonApiAstraiosClient.ts
  packages/nexusgraph-redux/src/note/noteDuck.ts
  packages/nexusgraph-redux/src/note/noteTypes.ts
Labels: MERGEABLE, REFACTORING, REDUX

#207 Standardized ducks
  packages/nexusgraph-app/src/DevApp.tsx
  packages/nexusgraph-app/src/ProdApp.tsx
  packages/nexusgraph-app/src/ReduxHook.tsx
  packages/nexusgraph-app/src/editor-button-group/EditorButtonGroup.tsx
  packages/nexusgraph-astraios/src/AstraiosClient.ts
  packages/nexusgraph-editor/src/Lexical/plugins/NexusgraphOnChangePlugin.tsx
  packages/nexusgraph-graph/src/VisualizationView.tsx
  packages/nexusgraph-redux/index.ts
  packages/nexusgraph-redux/src/globalState.ts
  packages/nexusgraph-redux/src/nlp/nlpDuck.test.ts
  packages/nexusgraph-redux/src/nlp/nlpDuck.ts
  packages/nexusgraph-redux/src/nlp/nlpTypes.ts
  packages/nexusgraph-redux/src/note-list/noteListDuck.ts
  packages/nexusgraph-redux/src/note-list/noteListTypes.ts
  packages/nexusgraph-redux/src/note/noteDuck.ts
  packages/nexusgraph-redux/src/note/noteTypes.ts
  packages/nexusgraph-redux/src/oAuth/oAuthDuck.ts
  packages/nexusgraph-redux/src/oAuth/oAuthType.ts
  packages/nexusgraph-redux/src/rootReducer.ts
Labels: MERGEABLE, REFACTORING, REDUX

#211 Enhance documentation
  docs/docs/concept.md
  docs/docs/concepts/_category_.json
  docs/docs/concepts/img/summary.png
  docs/docs/concepts/index.md
  docs/docs/development/1-index.md
  docs/docs/development/10-architecture.md
  docs/docs/development/11-configuration.md
  docs/docs/development/2-code-of-conduct.md
  docs/docs/development/3-documentation-guide.md
  docs/docs/development/4-inclusive-language.md
  docs/docs/development/5-environment.md
  docs/docs/development/6-philosophy.md
  docs/docs/development/7-commit-messages.md
  docs/docs/development/8-code-review.md
  docs/docs/development/9-ci-cd.md
  docs/docs/development/_category_.json
  docs/docs/development/architecture.md
  docs/docs/development/img/dependency-diagram.drawio
  docs/docs/development/img/dependency-diagram.png
  docs/docs/development/img/editor-scrollbar-stuck-issue.png
  docs/docs/development/img/nexusgraph-separation-of-concerns.drawio
  docs/docs/development/img/nexusgraph-separation-of-concerns.png
  docs/docs/development/img/open-general-settings.png
  docs/docs/development/img/scrollbar-automatically.png
  docs/docs/development/img/scrollbar-when-scrolling.png
  docs/docs/intro.md
  docs/docs/troubleshooting.md
  docs/i18n/zh-cn/docusaurus-plugin-content-docs/current/development/10-architecture.md
  docs/i18n/zh-cn/docusaurus-plugin-content-docs/current/development/5-environment.md
  docs/i18n/zh-cn/docusaurus-plugin-content-docs/current/development/img/open-general-settings.png
  docs/i18n/zh-cn/docusaurus-plugin-content-docs/current/development/img/scrollbar-automatically.png
  docs/i18n/zh-cn/docusaurus-plugin-content-docs/current/development/img/scrollbar-when-scrolling.png
  docs/i18n/zh-cn/docusaurus-plugin-content-docs/current/troubleshooting.md
  packages/nexusgraph-server/README.md
Labels: DOCUMENTATION, MERGEABLE

#212 Implement note title input
  .env.test
  .github/workflows/ci-cd.yml
  .gitignore
  config/webpack/webpackDevServer.config.js
  cypress.config.ts
  cypress/downloads/graph.png
  cypress/downloads/graph.svg
  cypress/e2e/0.login.spec.cy.ts
  cypress/e2e/graph-export-button.spec.cy.ts
  cypress/e2e/i18n.spec.cy.ts
  cypress/e2e/nexusgraph.spec.cy.ts
  cypress/e2e/node-inspector-panel.spec.cy.ts
  cypress/e2e/note-button-group.spec.cy.ts
  cypress/fixtures/astraiosGraphqlResponse.json
  cypress/support/commands.ts
  docs/docs/development/5-environment.md
  docs/i18n/zh-cn/docusaurus-plugin-content-docs/current/development/5-environment.md
  hashicorp/images/nginx-ssl-app.conf
  hashicorp/instances/app.tf
  package.json
  packages/nexusgraph-app/src/App.tsx
  packages/nexusgraph-app/src/AstraiosClientHook.ts
  packages/nexusgraph-app/src/ReduxHook.tsx
  packages/nexusgraph-app/src/editor-button-group/EditorButtonGroup.tsx
  packages/nexusgraph-app/src/editor-button-group/styled.ts
  packages/nexusgraph-app/src/note-title-input/NoteTitleInput.tsx
  packages/nexusgraph-app/src/note-title-input/styled.ts
  packages/nexusgraph-app/src/styled.ts
  packages/nexusgraph-astraios/src/AstraiosClient.ts
  packages/nexusgraph-astraios/src/GraphqlAstraiosClient.ts
  packages/nexusgraph-astraios/src/JsonApiAstraiosClient.ts
  packages/nexusgraph-editor/src/Lexical/LexicalEditor.module.css
  packages/nexusgraph-editor/src/Lexical/LexicalEditor.tsx
  packages/nexusgraph-editor/src/Lexical/plugins/EditorContentUpdatePlugin.ts
  packages/nexusgraph-editor/src/Lexical/plugins/EditorInitializationPlugin.ts
  packages/nexusgraph-editor/src/Lexical/plugins/NexusgraphOnChangePlugin.tsx
  packages/nexusgraph-editor/src/Lexical/plugins/ToolbarPlugin/ToolbarPlugin.test.tsx
  packages/nexusgraph-graph/src/VisualizationView.tsx
  packages/nexusgraph-graph/src/processor/NodesExpand.test.ts
  packages/nexusgraph-graph/src/processor/NodesExpand.ts
  packages/nexusgraph-nlp/src/processor/RemoteNaturalLanguageProcessor.test.ts
  packages/nexusgraph-nlp/src/processor/RemoteNaturalLanguageProcessor.ts
  packages/nexusgraph-redux/src/nlp/nlpDuck.ts
  packages/nexusgraph-redux/src/note-list/noteListDuck.ts
  packages/nexusgraph-redux/src/note/noteDuck.ts
  packages/nexusgraph-redux/src/oAuth/oAuthDuck.ts
  packages/nexusgraph-server/README.md
  packages/nexusgraph-server/package.json
  packages/nexusgraph-server/src/server.ts
  scripts/start.js
Labels: CI/CD, DOCUMENTATION, MERGEABLE, EDITOR, NEW FEATURE

#214 Remove all test of editor
  cypress/e2e/align-dropdown.spec.cy.ts
  cypress/e2e/clear-formatting.spec.cy.ts
  cypress/e2e/editor.spec.cy.ts
  cypress/e2e/font-background-color.spec.cy.ts
  cypress/e2e/font-color.spec.cy.ts
  cypress/e2e/font-family-dropdown.spec.cy.ts
  cypress/e2e/font-size-dropdown.spec.cy.ts
  packages/nexusgraph-editor/src/Lexical/plugins/ToolbarPlugin/ToolbarPlugin.test.tsx
Labels: MERGEABLE

#216 Add note display e2e test
  cypress/e2e/graph-export-button.spec.cy.ts
  cypress/e2e/i18n.spec.cy.ts
  cypress/e2e/nexusgraph.spec.cy.ts
  cypress/e2e/node-inspector-panel.spec.cy.ts
  cypress/e2e/note-button-group.spec.cy.ts
  cypress/e2e/note-display-test.spec.cy.ts
  cypress/fixtures/astraiosGraphqlResponse.json
  cypress/support/commands.ts
  cypress/support/global.d.ts
  cypress/utils/note-display-utils.ts
  packages/nexusgraph-app/src/ReduxHook.tsx
  packages/nexusgraph-app/src/editor-button-group/EditorButtonGroup.tsx
Labels: NEED 1 REVIEW, EDITOR, REFACTORING

#217 Support node outbound link
  .github/db.json
  cypress/e2e/node-inspector-panel.spec.cy.ts
  cypress/e2e/note-display-test.spec.cy.ts
  cypress/fixtures/astraios-graphql-response.json
  cypress/fixtures/single-rdf-pair-graph.json
  cypress/support/commands.ts
  packages/nexusgraph-graph/src/Graph.tsx
  packages/nexusgraph-graph/src/GraphVisualizer.tsx
  packages/nexusgraph-graph/src/VisualizationView.test.ts
  packages/nexusgraph-graph/src/VisualizationView.tsx
  packages/nexusgraph-graph/src/inspection-panel/PropertiesTable.test.tsx
  packages/nexusgraph-graph/src/inspection-panel/PropertiesTable.tsx
Labels: MERGEABLE

#218 Environment variable change
  .env.test
  .github/workflows/ci-cd.yml
  cypress.config.ts
  packages/nexusgraph-astraios/src/GraphqlAstraiosClient.ts
  packages/nexusgraph-astraios/src/JsonApiAstraiosClient.ts
  packages/nexusgraph-oauth/src/OAuth2Provider.tsx
Labels: CI/CD

#219 Add headers for GraphQL requests
  packages/nexusgraph-app/src/AstraiosClientHook.ts
  packages/nexusgraph-app/src/ReduxHook.tsx
  packages/nexusgraph-app/src/editor-button-group/EditorButtonGroup.tsx
  packages/nexusgraph-astraios/src/AstraiosClient.ts
  packages/nexusgraph-astraios/src/GraphqlAstraiosClient.ts
  packages/nexusgraph-editor/src/Lexical/plugins/EditorContentUpdatePlugin.ts
Labels: MERGEABLE, GRAPH
